<%= form_with(model: supervisor) do |form| %>
  <% if supervisor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(supervisor.errors.count, "error") %> prohibited this supervisor from being saved:</h2>

      <ul>
        <% supervisor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :supervisor_email, style: "display: block" %>
    <%= form.text_field :supervisor_email %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
