<p style="color: green"><%= notice %></p>

<%= render @supervisor %>

<div>
  <%= link_to "Edit this supervisor", edit_supervisor_path(@supervisor) %> |
  <%= link_to "Back to supervisors", supervisors_path %>

  <%= button_to "Destroy this supervisor", @supervisor, method: :delete %>
</div>
