<div id="<%= dom_id comment %>">
  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Ticket:</strong>
    <%= comment.ticket_id %>
  </p>

  <p>
    <strong>Supervisor:</strong>
    <%= comment.supervisor_id %>
  </p>

  <p>
    <strong>Administrator:</strong>
    <%= comment.administrator_id %>
  </p>

  <p>
    <strong>Executive:</strong>
    <%= comment.executive_id %>
  </p>

</div>
