<div id="<%= dom_id ticket %>">
  <p>
    <strong>Title:</strong>
    <%= ticket.title %>
  </p>

  <p>
    <strong>Creation date:</strong>
    <%= ticket.creation_date %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= ticket.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= ticket.priority %>
  </p>

  <p>
    <strong>State:</strong>
    <%= ticket.state %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= ticket.deadline %>
  </p>

  <p>
    <strong>On time:</strong>
    <%= ticket.on_time %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= ticket.tags %>
  </p>

  <p>
    <strong>Requesting user:</strong>
    <%= ticket.requesting_user_id %>
  </p>

  <p>
    <strong>Executive:</strong>
    <%= ticket.executive_id %>
  </p>

</div>
