<div id="<%= dom_id response %>">
  <p>
    <strong>Resolution key:</strong>
    <%= response.resolution_key %>
  </p>

  <p>
    <strong>Res description:</strong>
    <%= response.res_description %>
  </p>

  <p>
    <strong>R scale:</strong>
    <%= response.r_scale %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= response.feedback %>
  </p>

  <p>
    <strong>Acceptance state:</strong>
    <%= response.acceptance_state %>
  </p>

  <p>
    <strong>Response date:</strong>
    <%= response.response_date %>
  </p>

  <p>
    <strong>Requesting user:</strong>
    <%= response.requesting_user_id %>
  </p>

  <p>
    <strong>Executive:</strong>
    <%= response.executive_id %>
  </p>

  <p>
    <strong>Ticket:</strong>
    <%= response.ticket_id %>
  </p>

</div>
