<div id="<%= dom_id executive %>">
  <p>
    <strong>User:</strong>
    <%= executive.user_id %>
  </p>

  <p>
    <strong>Report:</strong>
    <%= executive.report_id %>
  </p>

  <p>
    <strong>Administrator:</strong>
    <%= executive.administrator_id %>
  </p>

  <p>
    <strong>Supervisor:</strong>
    <%= executive.supervisor_id %>
  </p>

</div>
