<div id="<%= dom_id report %>">
  <p>
    <strong>Number tickets:</strong>
    <%= report.number_tickets %>
  </p>

  <p>
    <strong>Tickets closed:</strong>
    <%= report.tickets_closed %>
  </p>

  <p>
    <strong>Tickets open:</strong>
    <%= report.tickets_open %>
  </p>

  <p>
    <strong>Rating mean:</strong>
    <%= report.rating_mean %>
  </p>

  <p>
    <strong>Administrator:</strong>
    <%= report.administrator_id %>
  </p>

  <p>
    <strong>Supervisor:</strong>
    <%= report.supervisor_id %>
  </p>

</div>
